@{

    var menu = new Helpers.MenuHelper();
    var IdUsuario = Helpers.SessionHelper.GetUser();
}

<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title" style="color:white;">Navegación</li>
                @foreach (var item in menu.GetMenu(IdUsuario))
                {

                    <li>
                        <a href="javascript: void(0);">
                            <i class="@item.Icono"></i>
                            <span> @item.TituloMenu </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            @foreach (var item1 in menu.GetSubMenu(item.IdMenu))
                            {
                                <li><a href="/@item1.Controlador/@item1.Accion">@item1.TituloSubMenu</a></li>
                            }

                        </ul>
                    </li>
                }


            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>