@{

    var menu = new Helpers.MenuHelper();
    var IdUsuario = Helpers.SessionHelper.GetUser();
}

<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title" style="color:white;">Navegación</li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="icon-login"></i>
                        <span> Acceso </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="@Url.Action("Index","Puertas")">Puertas Sección</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-barcode-scan"></i>
                        <span> Códigos </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="@Url.Action("Index","Codigos")">Mis Códigos</a>
                        </li>
                       
                    </ul>
                </li>


            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>


